<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(images/123.jpg);"></div>
							<h1><span>Gerald Hero Hug</span></h1>
							<h3><span>Web Developer</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="#"><i class="icon-twitter2"></i></a></li>
									<li><a href="#"><i class="icon-facebook2"></i></a></li>
									<li><a href="#"><i class="icon-linkedin2"></i></a></li>
									<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Gerald Hero C. Hug</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">+63 955 844 4752</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">geraldhug92@gmail.com</span></li>
						<li><span class="first-block">Website:</span><span class="second-block">gerald-hug-website.herokuapp.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">547 R.A. Canlas Street Springsid Pandan Angeles City</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p> &nbsp;  I'm Gerald Hug, A web designer and developer from Angeles City, Philippines. I'm Married and with upcoming son. My passion, are programming and designing a website.</p>
					<p>
		 &nbsp;  My main programming language are JavaScript, NodeJS, and React. Because from what I see, those technology are very efficient, powerful, and popular as of today and I'm very fan of those technology. Most of my projects are build using those technology. My service: I can help you to solve your problem, build the backend of any of your projects or grow existing project.  My skills are broad: from UX to design, front end to back end development and etc. I enjoy each aspect, and love building sites or mobile apps from start to finish.
	</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook3"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Freelance Web developer</h3>
									<span class="company">2018 - Current</span>
								</div>
								<div class="timeline-body">
									<p>Designing, coding and modifying websites, from layout to function and according to a client's specifications.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Quality Control Analyst</h3>
									<span class="company">Majorel Inc. - 2018 - Current</span>
								</div>
								<div class="timeline-body">
									<p>Reviewed and updated quality jobs and provide a quality control from a technology Client.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Call Center Customer Service Representative</h3>
									<span class="company">IQor Inc. - 2017 - 2018</span>
								</div>
								<div class="timeline-body">
									<p>Maintain a high-volume workload within a fast paced environment. Assisted an average of 550 clients in any given week and consistently met performance benchmarks in all areas (speed, accuracy and AHT).</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Team Leader</h3>
									<span class="company">247 Business Services Inc. - 2015 - 2016</span>
								</div>
								<div class="timeline-body">
									<p>Mentored and guided employees ensuring all were trained in product knowledge and capable of performing assigned duties.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Online Courses</h3>
									<span class="company">Udemy.com</span>
								</div>
								<div class="timeline-body">
									<p>Tutorial Programs:</p>
									<ul class="list-tutorial">
										<li><strong>The Complete JavaScript Course 2019 </strong><br>by Jonas Schmedtmann</li>
										<li><strong>The Complete 2019 Web Development Bootcamp </strong><br> by Angela Yu</li>
										<li><strong>The Complete Node.js Developer Course </strong><br> by Andrew Mead</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Computer Hardware Servicing NC II</h3>
									<span class="company">AMA Computer Learning Center - 2012</span>
								</div>
								<div class="timeline-body">
									<p>program that teaches students how to install, configure and maintain computer systems and networks. It develops students' skills in diagnosis and troubleshooting of computer systems, as well as in the performance of computer operations.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Computer Science</h3>
									<span class="company">Asian Institute of Computer Studies - 2002 - 2006</span>
								</div>
								<div class="timeline-body">
									<p>Program includes the study of computing concepts and theories, algortihmic foundations and new developments in computing. The program prepares students to design and create algorithmically complex software and develop new and effective algorithms for solving computing problems.</p>
								</div>
							</div>
						</li>
						
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>What I do</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Front-end</h3>
								<p>CSS3, Bootstrap4, GoogleFont, Font-Awesome, icomoon, Jquery, JavaSript, ESPlus, React </p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Back-end</h3>
								<p>Restful API, Node JS, NPM, APIs, NoSQL, SQL, Postman</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Database</h3>
								<p>MongoDB, MySql, PostgreSQL, etc...</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Framework</h3>
								<p>Node JS React, React-Native, React and JSX, express, VUE.JS, Atom and etc...</p>
							</div>
							
						</div>

					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
								<div class="feature-copy">
								<h3>NPM</h3>
								<p>multer, @sendgrid/mail, socket.io, jsonwebtoken, sharp, jest, lodash, supertest,bcrypt, morgan, express, mongoose, chalk, connect-flash, EJS, passport, Babel, Async, Request, WebPack, dotEnv, Jest, Sharp, Validator and etc...</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-book"></i>
							</span>
							<div class="feature-copy">
								<h3>Javascript</h3>
								<p>Closure, ES6, Arrow Functions, Object, Asynchronous, Destructuring, Handling Errors, Debbuging, DOM and etc... </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>javaScrip</strong>99%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>jQuery</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>PHP</strong>80%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>NodeJS</strong>97%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MongoDB</strong>95%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">NPM</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">PHP</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">JavaScript</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Node JS</span><span class="value-right">97%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">React</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">API</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">MongoDB</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width:95%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://immense-scrubland-25779.herokuapp.com" target="_blank" class="work" style="background-image: url(images/portfolio-1.jpg);">
						<div class="desc">
							<h3>Gerald and Murghy Wedding Website</h3>
							<span>Illustration</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hug-chat-app.herokuapp.com/" class="work"  target="_blank" style="background-image: url(images/portfolio-2.png);">
						<div class="desc">
							<h3>My Chat App</h3>
							<span>socket.io</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nameless-island-80208.herokuapp.com/" class="work" target="_blank" style="background-image: url(images/portfolio-3.jpg);">
						<div class="desc">
							<h3>Authentication System with Registry</h3>
							<span>Passport</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="/" class="work" target="_blank" style="background-image: url(images/portfolio-4.jpg);">
						<div class="desc">
							<h3>Portfolio</h3>
							<span>HTML</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(images/portfolio-5.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(images/portfolio-6.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Illustration</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(images/portfolio-7.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Brading</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(images/portfolio-8.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Illustration</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>If you are looking for a professional & punctual back-end development with extensive web development skills.</p>
					<p>	If you are interested in developing, a problem that needs solving or a project that needs rescuing, I'd love to help you with it.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Me</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<% include ./partials/message %>
			<form action="/" method="post">
				<div class="row form-group">
					<div class="col-md-6">
						<input 
						type="text" 
						id="fname"
						name="fname" 
						class="form-control" 
						placeholder="Your firstname"
						value="<%= typeof name != 'undefined' ? name : '' %>"
						/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input 
							type="text" 
							id="lname" 
							class="form-control" 
							name='lname'
							placeholder="Your lastname"
							value="<%= typeof name != 'undefined' ? name : '' %>"
						/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input 
						type="text" 
						id="email" 
						class="form-control" 
						name="email"
						placeholder="Your email address" 
						value="<%= typeof name != 'undefined' ? name : '' %>"
						/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input 
						type="text" 
						id="subject" 
						name="subject"
						class="form-control" 
						placeholder="Your subject of this message"
						value="<%= typeof name != 'undefined' ? name : '' %>"
						/>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea 
						name="message" 
						id="message"
						name="message" 
						cols="30" 
						rows="10" 
						class="form-control" 
						placeholder="Say something about us"
						value="<%= typeof name != 'undefined' ? name : '' %>"
						/>
							
						</textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div>